body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.header {
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 72px;*/
}

.nav {
    display: flex;
    align-items: center;
}

.nav-link {
    display: flex;
    gap: 40px;
    padding: 24px 0
}

.contact-address-link {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-accent {
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
    font-weight: 500;
    justify-content: flex-end;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-address {
    font-style: normal;
    justify-content: end;
}

.contact-link {
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.hero-section {
    background-color: #2e2f42;
    height: 600px;
    padding: 188px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 48px;
    margin-left: 316px;
    margin-right: 316px;
    height: 120px;
    max-width: 496px;
}

.button {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    display: block;
    height: 56px;
    min-width: 169px;
    border-radius: 4px;
    margin-left: 495px;
    margin-right: 495px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.our-advantage-list {
    display: flex;
    gap: 24px;
}

.visually-hidden-title {
    @include visually-hidden;
}

.our-advantage-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.our-advantage-list-item {
    width: calc((100% - 72px) / 4);
}

.our-team-list {
    display: flex;
    column-gap: 24px;
}

.our-team-section {
    background-color: #f4f4fd;
}

.our-team-card {
    background-color: #fff;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #fff;
}

.our-team-paragraph {
    font-size: 16px;
}

.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.our-portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}

.footer-box {
    background-color: #2e2f42;
    /*height: 312px;*/
    padding: 100px 0;
}

.footer-container {
    max-width: 264px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-accent {
    color: #f4f4fd;
}

.footer-p {
    color: #f4f4fd;
}