:root {
    --primary-dark-color: #2e2f42;
    --brand-color: #4d5ae5;
    --brand-dark-color: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-accent {
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
    font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contact-address {
    font-style: normal;
}

.contact-link {
    color: #434455;
}

.contact-link:hover,
.contact-link:focus {
    color: #4d5ae5;
}

.hero-section {
    padding: 188px 0;
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

.button {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
    background-color: #4d5ae5;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.our-advantage-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.our-team-section {
    padding: 188px 0;
    background-color: #f4f4fd;
}

.our-team-card {
    background-color: #fff;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.our-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    background-color: #fff;
}

.our-portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.footer-box {
    padding: 188px 0;
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-footer-accent {
    color: #f4f4fd;
}

.footer-p {
    color: #f4f4fd;
}